{% load static %}
<link rel = "stylesheet" href = "{% static 'index_style.css' %}">

    {% for x in location_data %}
            {{x}}
    {% endfor %}

    <head>
    <div class = "mega_box">
        <body>
            <div class = "heading_box txt_box_real" style = "background-color: rgba(153, 235, 255, 0.5);">
            <h1 style = "line-height: 100%; margin-left: 20%; margin-top: 40px;">Weather Information Site</h1>
            </div>
        <p></p>
        <main>
            <p></p>
            <div class = "item_frame" style = "width: 100%">
                <div style = "font-size: 25px; margin-left: 20%; margin-bottom: 10px;">Details:</div>
                {% for key, value in dict.items%}
                <div class = "item">
                    <div class = "item_title">{{value}}</div>
                    <div class = "item_description">{{key}}</div>
                </div>
                {% endfor %}
            </div>
        </main>
        </body>
